@media (max-width: 991px) {
    .linha {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .linha .conteudoContainer {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .linha {
        width: 90%;
    }

    .linha .conteudoContainer h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .linha .conteudoContainer p {
        line-height: 24px;
    }
}

@media (max-width: 575px) {
    .linha .conteudoContainer span.textWrapper {
        font-size: 18px;
    }

    .linha .conteudoContainer h2 {
        font-size: 25px;
    }

    .linha .conteudoContainer p {
        font-size: 15px;
        line-height: 22px;
    }

    .linha .conteudoContainer a {
        font-size: 15px;
        padding: 10px 20px;
    }
}