:root {
    --corAnim: #EB2139;
    --corSpan: white;
    --preto: #393939;
    --preto2: #111111;
    --teste: #111111;
    --blue: #EB2139;
    --cinza: #18181C;
    --cinza2: #18181C;
    --corFooter: #0A0A0A;
    --corTextoFooter: white;
    --whiteLista: white;
}



.light-theme {
    --corAnim: #0060c0;
    --teste: white;
    --corSpan: #0060c0;

    --corFooter: #003163;
    --cinza: #ffff;
    --preto: white;
    --cor: rgb(160, 153, 153);
    --corTextoFooter: rgb(255, 255, 255);
}


.homepage {
    height: 97vh;
    background-image: url("../imgs/teste1.png");
    background-size: cover;
    color: #fff;

}

.homepage ul {
    margin-bottom: 35.5rem;
}

.about {
    height: 80vh;

}

.typed h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

.typed span {
    color: var(--corAnim);
}

.social {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.facebook {
    border-radius: 44%
}

.social i {
    padding: 13px 16px;
    font-size: 2.5rem;
    border: 1px solid #ffff;
    border-radius: 45%;
}

.social i:hover {
    transform: translateY(-10px);
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0.649);
    border-color: rgba(0, 0, 0, 0.649);

}

@media (max-width: 768px) {
    .social {
        top: 76%;
    }
}