@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --blue: #EB2139;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--blue);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn {
    font-size: 2rem;
    padding: .7rem 2rem;
    color: #fff;
    background: var(--blue);
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.btn:hover {
    opacity: .8;
    box-shadow: none;
}

.heading {
    text-align: center;
    padding: 1rem;
    padding-top: 6.5rem;
    background-color: #18181C;
}

.heading span {
    display: inline-block;
    font-size: 2.5rem;
    padding: .5rem 7rem;
    color: #444;
    background: #fff;
    border: .2rem solid var(--blue);
    border-left-width: 1rem;
    border-right-width: 1rem;


}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2rem;
    background: #444;
    z-index: 1000;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .logo {
    font-size: 2.5rem;
    padding: 1rem 4rem;
    background: #fff;
    color: #444;
}

header .logo i {
    padding: 0 .5rem;
    color: var(--blue);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    padding: .5rem 2rem;
    margin-left: 1rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #444;
    background: #fff;
}

header #menu {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}



.home {
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    padding-top: 6rem;
}

.home .content {
    width: 45vw;
}

.home .content h1 {
    font-size: 5rem;
    color: #444;
}

.home .content p {
    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
}

.home .content .buttons a:nth-child(2) .btn {
    background: #444;
    margin-left: 1rem;
}




/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 5.3rem;
        right: -120%;
        height: 100vh;
        background: #222;
        z-index: 1000;
        width: 35rem;
    }

    header .navbar ul {
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    header .navbar ul li a {
        display: block;
        font-size: 2.5rem;
        border: .2rem solid #fff;
        margin: 1rem 0;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        right: 0;
    }

}

@media (max-width:768px) {

    .home {
        flex-flow: column-reverse;
    }

    .home .content {
        padding: 2rem 0;
        width: auto;
    }

    .home .content h1 {
        font-size: 4rem;
    }

}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    header .navbar {
        width: 100vw;
    }

    .home .image img {
        width: 90vw;
    }

    .screen-slider {
        width: 90%;
    }

    .review .review-slider {
        width: auto;
    }

}