@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --corheading: #18181C;
    --corSpan: white;
    --preto: #393939;
    --preto2: #111111;
    --teste: #111111;
    --blue: #EB2139;
    --cinza: #18181C;
    --cinza2: #18181C;
    --corFooter: #0A0A0A;
    --corTextoFooter: white;
    --whiteLista: white;
}



.light-theme {
    --corheading: white;
    --cinza2: #003163;
    --teste: white;
    --corSpan: #003163;
    --corFooter: #003163;
    --cinza: #ffff;
    --preto: white;
    --cor: rgb(160, 153, 153);
    --corTextoFooter: rgb(255, 255, 255);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container .imagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

*::selection {
    background: var(--blue);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn {
    box-shadow: black 7px 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: .7rem 2rem;
    color: #ffffff;
    background: var(--blue);
    cursor: pointer;
    margin-top: 1rem;
    border: none;

}

.btn:hover {
    opacity: .8;
    box-shadow: none;
}

.heading {
    text-align: center;
    padding: 1rem;
    padding-top: 6.5rem;
    background-color: var(--corheading);
}

.heading span {
    display: inline-block;
    font-size: 3.5rem;
    padding: .5rem 7rem;
    color: var(--corSpan);
    font-family: 'Poppins', sans-serif;
    border-left-width: 1rem;
    border-right-width: 1rem;


}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2rem;
    background: #444;
    z-index: 1000;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .logo {
    font-size: 2.5rem;
    padding: 1rem 4rem;
    background: #fff;
    color: #444;
}

header .logo i {
    padding: 0 .5rem;
    color: var(--blue);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    padding: .5rem 2rem;
    margin-left: 1rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #444;
    background: #fff;
}

header #menu {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}



.home {
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    padding-top: 6rem;
}

.home .content {
    width: 45vw;
}

.home .content h1 {
    font-size: 5rem;
    color: #444;
}

.home .content p {
    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
}

.home .content .buttons a:nth-child(2) .btn {
    background: #444;
    margin-left: 1rem;
}

.modalidade {
    background-color: var(--whiteLista);

}

.modalidade .box-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--teste);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

}

.box1 {}

.modalidade .box-container .box {
    text-align: left;
    width: 30rem;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--cinza2);
    /*border: .40rem solid #EB2139;*/
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.modalidade .box-container .box1 {
    text-align: left;
    width: 30rem;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    /*border: .40rem solid #EB2139;*/
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.modalidade .box-container .box i {
    font-size: 5rem;
    padding: 2rem 0;
    color: var(--blue);
}

.modalidade .box-container .box h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--blue);
}

.modalidade .box-container .box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem;
}

.modalidade .box-container .box:hover {
    background: #444;
}

.modalidade .box-container .box:hover i {
    color: #fff;
}

.modalidade .box-container .box:hover h3 {
    color: #fff;
}

.modalidade .box-container .box:hover p {
    color: #eee;
}




.plano {

    background: var(--preto2);
}

.plano .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plano .box-container .box {
    margin: 2rem;
    background: var(--cinza2);
    text-align: center;
    width: 30rem;
    border: .40rem solid #EB2139;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.plano .box-container .box .titulo {
    font-family: 'Poppins', sans-serif;
    background: var(--blue);
    color: #fff;
    font-size: 2.7rem;
    padding: 1rem 0;
}

.plano .box-container .box .preco {
    font-family: 'Montserrat', sans-serif;
    color: var(--whiteLista);
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.plano .box-container .box .preco span {
    font-size: 2rem;
}

.plano .box-container .box .lista {
    text-align: left;
    list-style: none;
    padding: 1rem 0;
    padding-left: 2rem;
}

.plano .box-container .box .lista li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--whiteLista);
}

.plano .box-container .box .lista li .fa-check {
    padding: 0 .3rem;
    color: lime;
}

.plano .box-container .box .lista li .fa-times {
    padding: 0 .3rem;
    color: tomato;
}

.plano .box-container .box .btn {
    margin-bottom: 3rem;
}

.plano .box-container .box:hover {
    transform: scale(1.02);
}


.footer {
    background: var(--corFooter);

}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box {
    margin: 2rem;
    flex: 1 1 30rem;
}

.footer .box-container .box h3 {
    font-family: 'Poppins', sans-serif;
    color: #EB2139;
    font-size: 2.5rem;
}

.footer .box-container .box p {
    color: var(--corTextoFooter);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box:nth-child(2) {
    text-align: center;
}

.footer .box-container .box a {
    font-family: 'Montserrat', sans-serif;
    color: var(--corTextoFooter);
    font-size: 1.8rem;
    padding: .5rem 0;
    display: block;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
}

.footer .box-container .box form {
    display: flex;
    width: 100%;
}

.footer .box-container .box form input {
    height: 4.5rem;
    width: 100%;
    background: #fff;
    padding: 0 1rem;
    font-size: 1.7rem;
    color: #333;
    border: none;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .2);
}

.footer .box-container .box form button {
    height: 4.5rem;
    width: 6rem;
    line-height: 4rem;
    text-align: center;
    background: var(--blue);
    font-size: 1.7rem;
    color: #fff;
    border: none;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .2);
    cursor: pointer;
}

.footer .box-container .box form button:hover {
    background: #333;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
    background: var(--corTextoFooter);
    color: #ccc;
}

.footer .credit a {
    color: #fff;
}





/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 5.3rem;
        right: -120%;
        height: 100vh;
        background: #222;
        z-index: 1000;
        width: 35rem;
    }

    header .navbar ul {
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    header .navbar ul li a {
        display: block;
        font-size: 2.5rem;
        border: .2rem solid #fff;
        margin: 1rem 0;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        right: 0;
    }

}

@media (max-width:768px) {

    .home {
        flex-flow: column-reverse;
    }

    .home .content {
        padding: 2rem 0;
        width: auto;
    }

    .home .content h1 {
        font-size: 4rem;
    }

}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    header .navbar {
        width: 100vw;
    }

    .home .image img {
        width: 90vw;
    }



}