@media (max-width: 991px) {
    .linha {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin-left: 3.2rem
    }

}


@media(min-width:992px),
(max-width:1024px) {
    .linha {
        margin-left: 16rem;
    }
}


@media (max-width:524px) {
    .linha {
        margin-left: 2rem;
    }

    .linha .conteudoContainer h2 {}

    .linha .conteudoContainer {
        padding-left: 0;
    }

    .typed h1 {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        font-family: 'Poppins',
            sans-serif;
        font-size: 5rem;
    }




}




@media (max-width: 768px) {
    .linha {
        width: 90%;
        margin-left: 2rem
    }

    .linha .conteudoContainer h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .linha .conteudoContainer p {
        line-height: 24px;
    }

    .linha .conteudoContainer {
        padding-left: 0;
    }
}


@media (max-width: 575px) {
    .linha .conteudoContainer span.textWrapper {
        font-size: 18px;
    }

    .linha .conteudoContainer h2 {
        font-size: 25px;
    }

    .linha .conteudoContainer p {
        font-size: 15px;
        line-height: 22px;
    }

    .linha .conteudoContainer a {
        font-size: 15px;
        padding: 10px 20px;
    }

}